<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL.Properties.Settings.Controle_de_estoqueConnectionString"
            connectionString="Data Source=DESKTOP-FCIPEKM\SQLEXPRESS;Initial Catalog=Controle_de_estoque;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>